@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --color-primary: papayawhip;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}

.maxwidth-site {
  /* border: 1px solid orange; */
  max-width: 1200px;
  margin:0 auto;
}
